release/profile-2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Совет депутатов Калининского района</title>
  </head>
  <body>
    <div class="bg-white" id="page_wrapper"><!--==================== Header Section Start ====================-->
<header class="ecommerce-header">
<div class="top-header border-0">
<div class="container container-1920">
<div class="row align-items-center">
<div class="col-12 col-lg-6">
<div  class="header-description">
<span class="d-none d-lg-block">Официальный сайт кожгалантерейной фабрики ООО "Рассвет" г. Санкт-Петербург</span><span class="d-block d-lg-none">Официальный сайт кожгалантерейной фабрики ООО "Рассвет" </span></div>
</div>
<div class="col-lg-6 d-none d-lg-flex">
<ul class="top-links d-flex ms-auto align-items-end">
<li>
<a href="#">
<i class="icon-user-1"></i><span class="d-none d-lg-block">Войти</span></a>
</li>
<li>
<a href="#" class="header-favorites"><span class="count">4</span><i class="icon-heart-1"></i><span class="d-none d-lg-block">Избранное</span></a>
</li>
<li>
<a href="#" class="header-cart"><span class="count">4</span><i class="icon-shopping-bag-1"></i><span class="d-none d-lg-block">Корзина</span></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="middle-header">
<div class="container container-1920">
<div class="row">
<div class="col col-lg-6 pr-0 pr-lg-3">
<div class="h-100 d-flex align-items-center">
<a class="navbar-brand navbar-brand_1 navbar-brand_border" href="#">
<img class="nav-logo lazyload" data-src="images/logovar1.png" alt="логотип">
</a>
<a class="navbar-brand navbar-brand_2" href="#">
<img class="nav-logo lazyload" data-src="images/logovar2.png" alt="логотип">
</a>
</div>
</div>
      <div class="col col-lg-6 d-flex justify-content-end">
        <div class="d-flex flex-column"><a class="header-phone mb-2" href="tel:+78123207714"><i class="icon-phone-call-1"></i>+7 (812) 320-77-14</a><a class="header-phone" href="tel:+78124263533"><i class="icon-phone-call-1"></i>+7 (812) 426-35-33</a></div>
      </div></div>
</div>
</div>
<div class="main-nav d-none d-lg-block">
<div class="container container-1920">
<div class="row align-items-center">				
<div class="col-12 col-lg-12 col-xl-7">
<nav class="navbar navbar-expand-lg nav-dark nav-primary-hover nav-line-active">
<a class="navbar-brand d-lg-none" href="#">
<img class="nav-logo lazyload" data-src="images/logo/21.png" alt="Image not found!">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<i class="navbar-toggler-icon flaticon-menu-2 flat-small text-dark"></i>
</button>
<div class="collapse navbar-collapse justify-content-lg-center justify-content-xl-start" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
<li class="nav-item dropdown mega-dropdown">
<a class="nav-link dropdown-toggle" href="#">Каталог L-Craft</a>
<ul class="dropdown-menu mega-dropdown-menu">
<li class="mega-container">
<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>                                                        
</div>
</li>
</ul>
</li>
<li class="nav-item dropdown mega-dropdown">
<a class="nav-link dropdown-toggle" href="#">Каталог Vintage</a>
<ul class="dropdown-menu mega-dropdown-menu">
<li class="mega-container">
<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>
<div class="col">
<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
<ul>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
<li><a class="dropdown-item" href="#">Подкатегория</a></li>
</ul>
</div>                                                        
</div>
</li>
</ul>
</li>
<li class="nav-item"><a class="nav-link" href="#">О фабрике</a></li>
<li class="nav-item"><a class="nav-link" href="#">Доставка и оплата</a></li>
<li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
</ul>
</div>
</nav>
</div>
      <div class="col-lg-12 col-xl-5 d-flex justify-content-lg-center justify-content-xl-end  pt-lg-3 pt-xl-0">
        <form class="header-search">
          <input type="search" placeholder="Я хочу найти">
          <button type="submit"><span>поиск</span><i class="icon-loupe-1"></i></button>
        </form>
      </div></div>
</div>
</div>
<div class="header-sticky bg-white py-10">
<div class="container">
<div class="row align-items-center">
<div class="col-3 col-xxl-3 col-xl-3 col-lg-3 order-1 order-lg-1">
<div class="d-flex align-items-center h-100">
<div class="nav-leftpush-overlay">
<nav class="navbar navbar-expand-lg nav-general nav-primary-hover">
<button type="button" class="push-nav-toggle d-lg-none border-0">
<i class="flaticon-menu-2 flat-small text-primary"></i><span>МЕНЮ</span></button>
<div class="navbar-slide-push transation-this">
<div class="login-signup bg-secondary d-flex justify-content-between py-10 px-20 align-items-center">
<a href="#" class="d-flex align-items-center text-white">
<i class="flaticon-user flat-small me-1"></i>
<span>Войти/Зарегестрироваться</span>
</a>
<span class="slide-nav-close"><i class="flaticon-cancel flat-mini text-white"></i></span>
</div>
<div class="menu-and-category">
<ul class="nav nav-pills wc-tabs" id="menu-and-category" role="tablist">
<li class="nav-item" role="presentation">
<a class="nav-link active" id="pills-push-menu-tab" data-bs-toggle="pill" href="#pills-push-menu" role="tab" aria-controls="pills-push-menu" aria-selected="true">Меню</a>
</li>
<li class="nav-item" role="presentation">
<a class="nav-link" id="pills-push-categories-tab" data-bs-toggle="pill" href="#pills-push-categories" role="tab" aria-controls="pills-push-categories" aria-selected="true">Категории</a>
</li>
</ul>
<div class="tab-content" id="menu-and-categoryContent">
<div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-push-menu" role="tabpanel" aria-labelledby="pills-push-menu-tab">
<div class="push-navbar">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
</ul>
</div>
</div>
<div class="tab-pane fade" id="pills-push-categories" role="tabpanel" aria-labelledby="pills-push-categories-tab">
<div class="categories-menu">
<ul class="menu">
<li class="menu-item-has-children unicode-megamenu-dropdown unicode-megamenu-item-full-width">
<a href="#">Каталог L-Craft</a>
</li>
<li class="menu-item-has-children unicode-megamenu-dropdown unicode-megamenu-item-full-width">
<a href="#">Каталог Vintage</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</nav>
</div>
<a class="navbar-brand navbar-brand_border d-none d-lg-block" href="#"><img class="nav-logo lazyload" data-src="images/logovar1.png" alt="Image not found !"></a>
<a class="navbar-brand d-none d-lg-block" href="#"><img class="nav-logo lazyload" data-src="images/logovar2.png" alt="Image not found !"></a>
</div>
</div>
<div class="col-4 col-xxl-3 col-xl-4 col-lg-3  order-3 order-lg-3">
<div class="d-flex align-items-center justify-content-end h-100">
<ul class="top-links d-flex align-items-end">
<li>
<a href="#">
<i class="icon-user-1"></i><span class="d-none d-lg-block">Войти</span></a>
</li>
<li>
<a href="#" class="header-favorites"><span class="count">4</span><i class="icon-heart-1"></i><span class="d-none d-lg-block">Избранное</span></a>
</li>
<li>
<a href="#" class="header-cart"><span class="count">4</span><i class="icon-shopping-bag-1"></i><span class="d-none d-lg-block">Корзина</span></a>
</li>
</ul>
</div>
</div>
<div class="col-5 col-xxl-6 col-xl-6 col-lg-6 order-2 order-lg-2 px-0 px-lg-3">
      <form class="header-search">
        <input type="search" placeholder="Я хочу найти">
        <button type="submit"><span>поиск</span><i class="icon-loupe-1"></i></button>
      </form></div>
</div>
</div>
</div>
</header>
<!--==================== Header Section End ====================-->
      <div id="content-page">
        <div class="breadcrumb-block"><div class="breadcrumb-area">
<div class="container">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6">
                <h1 class="mb-4 mb-lg-0">Заголовок</h1>
              </div>
              <div class="col-12 col-lg-6"><div class="breadcrumb-content">
<ul>
<li><a href="#">Главная</a></li>
                <li class="breadcrumb-line">/</li>
                <li><a href="#">Услуги</a></li>
                <li class="breadcrumb-line">/</li><li>Частным лицам</li>
</ul>
</div>
              </div>
            </div>
          </div></div>
</div>
        </div>
        <section class="pt-50-60 pb-50-120">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-2 pb-5 pb-lg-0">
                <div class="profile-widget">
                  <div class="d-flex flex-column"><a class="profile-widget__link" href="#">Профиль</a><a class="profile-widget__link profile-widget__link_active" href="#">История заказов</a></div><a class="profile-widget__link profile-widget__link_exit" href="#">Выход</a>
                </div>
              </div>
              <div class="col-12 col-lg-9 offset-lg-1">
                <div class="row d-none d-lg-flex mb-5">
                  <div class="col-lg-3"><b class="profile-order-title">Номер заказа</b></div>
                  <div class="col-lg-3"><b class="profile-order-title">Статус</b></div>
                  <div class="col-lg-3"><b class="profile-order-title">Способ доставки</b></div>
                  <div class="col-lg-3"><b class="profile-order-title">Итого</b></div>
                </div>
                <div class="profile-order-item mb-4">
                  <div class="row">
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Номер заказа</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">#2021/06/0007</span><span class="profile-order-item-title">10 июня 2021</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Статус</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title profile-order-item-title_green">Оплачен</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Способ доставки</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">Самовывоз</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Итого</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">17 800 ₽</span></div>
                    </div>
                  </div>
                </div>
                <div class="profile-order-item mb-4">
                  <div class="row">
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Номер заказа</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">#2021/06/0007</span><span class="profile-order-item-title">10 июня 2021</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Статус</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title ">Оплачен</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Способ доставки</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">Самовывоз</span></div>
                    </div>
                    <div class="col-lg-3 pb-4 pb-lg-0">
                      <div class="d-block d-lg-none pb-2"><b class="profile-order-title">Итого</b></div>
                      <div class="d-flex flex-column"><span class="profile-order-item-title">17 800 ₽</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div><!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalRequestTitle">Обращение</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <form action="" method="">
        <div class="form-group mb-4">
          <label class="mb-3" for="name">1. Укажите Ваши фамилию, имя, отчество (при наличии)<span class="color-red">*</span></label>
          <input class="form-control" type="text" id="name">
        </div>
        <div class="form-group mb-4">
          <label class="mb-3" for="email">2. Адрес электронной почты (Email)<span class="color-red">*</span></label>
          <input class="form-control" type="email" id="email">
        </div>
        <div class="form-group mb-4">
          <label class="mb-3" for="phone">3. Контактный телефон<span class="color-red">*</span></label>
          <input class="form-control" type="phone" id="phone">
        </div>
        <div class="form-group mb-4">
          <label class="mb-3" for="message">4. Текст обращения<span class="color-red">*</span></label>
          <textarea class="form-control" id="message" rows="1"></textarea>
        </div>
        <div class="custom-file mb-5">
          <input class="custom-file-input" type="file" id="customFile">
          <label class="custom-file-label" for="customFile"><i class="icon-paper-clip font-16 mr-2"></i>Прикрепить файл (до 10 мб)</label>
        </div><div class="form-check mb-3">
<input class="form-check-input" type="checkbox" value="" id="checkbox1" >
<label class="form-check-label" for="checkbox1">Я согласен с <a href="#">условиями обработки персональных данных</a> <span class="color-red">*</span></label>
</div>
        <div class="d-flex justify-content-center justify-content-lg-end">
          <button class="btn btn_empty btn_min-width-270" type="submit">Отправить</button>
        </div>
      </form></div>
</div>
</div>
</div><!-- Scroll to top -->
<a href="#" class="bg-primary text-white" id="scroll" style="display: inline;"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll To top --><footer class="footer-main">
<div class="container">
<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
<div class="col-10 col-lg-3">
<div class="footer-widget">
<div class="footer-logo">
<a href="#"><img class="lazyload" data-src="images/logovar1.png" alt="Image not found!" /></a><br>
<a href="#"><img class="lazyload" data-src="images/logovar2.png" alt="Image not found!" /></a>
</div>
<div class="widget-ecommerce-contact pt-4">
      <p class="footer-description">Ведущий производитель женских сумок в России из кожзаменителя, тканей и натуральной кожи: сумки оптом и в розницу.</p></div>
</div>
</div>
<div class="col col-lg-3 pt-4 d-none d-lg-block">
<div class="footer-widget category-widget">
<h6 class="widget-title">БЫСТРЫЕ ССЫЛКИ</h6>
<ul>
      <li><a href="#">Сумки и рюкзаки из гобелена</a></li>
      <li><a href="#">Сумки Vintage</a></li>
      <li><a href="#">Сумки кожзам</a></li>
      <li><a href="#">Сумки женские оптом</a></li>
      <li><a href="#">Сумки мужкие оптом</a></li></ul>
</div>
</div>
<div class="col col-lg-3 pt-4 d-none d-lg-block">
<div class="footer-widget category-widget">
<h6 class="widget-title">О компании</h6>
<ul>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Сотрудничество</a></li>
      <li><a href="#">Доставка и оплата</a></li>
      <li><a href="#">Вакансии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
<div class="col col-lg-3 pt-4">
<div class="footer-widget widget-nav">
<h6 class="widget-title pb-4">КОНТАКТЫ</h6>
      <p class="footer-description">199178, Санкт-Петербург,<br>17-линия, 54/4</p><a class="header-phone header-phone_footer mb-4" href="tel:+78123207714">+7 (812) 320-77-14</a>
      <div class="d-flex align-items-center social-block"><a class="social-item" href="#"><i class="icon-vk-reproductor-1"></i></a><a class="social-item" href="#"><i class="icon-instagram-1"></i></a><a class="social-item" href="#"><i class="icon-odnoklassniki-logo-1"></i></a></div></div>
</div>
</div>
</div>
</footer>
<!--==================== Footer Section End ====================-->
<!--==================== Copyright Section Start ====================-->
<div class="copyright-block">
<div class="container">
<div class="row">
<div class="col-lg-6">
<span class="footer-dop-description d-none d-lg-block">© 1993 - 2021 L-Craft кожгалантерейная фабрика</span>
<span class="footer-dop-description d-block d-lg-none">1993 - 2021 ООО “Рассвет” кожгалантерейная фабрика</span>
</div>
<div class="col-lg-6 d-none d-lg-flex justify-content-end"><a class="poly-text" href="#">Политика конфиденциальности </a></div>
</div>
</div>
</div>
<!--==================== Copyright Section End ====================-->
      <script src="js/main.min.js"></script>
    </div>
  </body>
</html>

source/html/profile-2.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-50-60 pb-50-120")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-2 pb-5 pb-lg-0")
					div(class="profile-widget")
						div(class="d-flex flex-column")
							a(class="profile-widget__link" href="#")
								| Профиль
							a(class="profile-widget__link profile-widget__link_active" href="#")
								| История заказов
						a(class="profile-widget__link profile-widget__link_exit" href="#")
							| Выход
				div(class="col-12 col-lg-9 offset-lg-1")
					div(class="row d-none d-lg-flex mb-5")
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Номер заказа
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Статус
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Способ доставки
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Итого
					div(class="profile-order-item mb-4")
						div(class="row")
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Номер заказа
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| #2021/06/0007
									span(class="profile-order-item-title")
										| 10 июня 2021
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Статус
								div(class="d-flex flex-column")
									span(class="profile-order-item-title profile-order-item-title_green")
										| Оплачен
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										|Способ доставки
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| Самовывоз
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Итого
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| 17 800 ₽
					div(class="profile-order-item mb-4")
						div(class="row")
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Номер заказа
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| #2021/06/0007
									span(class="profile-order-item-title")
										| 10 июня 2021
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Статус
								div(class="d-flex flex-column")
									span(class="profile-order-item-title ")
										| Оплачен
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										|Способ доставки
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| Самовывоз
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Итого
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| 17 800 ₽
										
